<!DOCTYPE html>
<html>
<head>
    <title>EcoGeneral Loan Services | Agreement</title>
    <link rel="stylesheet" href="static/js/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="static/css/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="static/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/agreement.css">
    <link rel="stylesheet" type="text/css" href="static/css/font-awesome/css/font-awesome.css">
    <script src="static/js/modernizr.js"></script>
    <script src="static/js/angular.min.js"></script>
</head>
<body>
<div class="main_body">
    <div class="first_section">
        <div class="header">
            <!-- <div class="header_content">
                <div class="tabs">
                    <ul>
                        <li style="background-color:#15A7DF;"><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="/client">Client Zone</a></li>
                    </ul>
                </div>
                <div class="social_media">
                    <ul>
                        <li><a href="http://facebook.com"><i class="fa fa-facebook-square font_awesome" aria-hidden="true"></i></a></li>
                        <li><a href="http://twitter.com"><i class="fa fa-twitter-square font_awesome" aria-hidden="true"></i></a></li>
                        <li><a href="http://instagram.com"><i class="fa fa-instagram font_awesome" aria-hidden="true"></i></a></li>
                        <li><a href="http://youtube.com"><i class="fa fa-youtube-play font_awesome" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div> -->
        </div>
        <div class="logo_wrap clearfix">
            <!-- <div class="logo_div clearfix">
                <a href="" class="clearfix">
                    <div class="logo"></div>
                </a>
            </div> -->
            <div class="logo_content_div">
                <h1>
                    The entire, online application process is 100% secure from start to finish.
                </h1>
                <!-- <span class="style">
                    You can apply from <span class="white">NGN1000</span> up to <span class="white">NGN3000</span> <br> <span style="font-size:20px; color:#fff;">SAME DAY. PAY DAY. EVERYDAY.</span>
                </span> -->
            </div>
        </div>
    </div>
    <div class="second_section clearfix">
        <div class="main_content clearfix">
            <header>
                <h1>
                    Pre-agreement statement and quotation
                </h1>
                <p class="left">
                    Quote Number: 746382
                </p>
                <p>
                    Date: 2016-10-18
                </p>
            </header>
            <hr>
            <div class="first_part clearfix">
                <div class="left_part">
                    <h2>Credit Provider</h2>
                    <ul>
                        <li>MoneyStart Ltd in Association with Ecogeneral Technology Ltd</li>
                        <li>Company Registration Number 3284638249038493239781</li>
                        <li>VAt Number 4738627347238</li>
                        <li>Waxbill Capital Building Block F, 1034 Goriola Close</li>
                        <li>P. O Box 463746 Mano park, 0102</li>
                        <li>Tel 08153649709</li>
                        <li>www.zahym.com</li>
                    </ul>
                </div>
                <div class="right_part">
                    <h2>Consumer</h2>
                    <table>
                        <tbody>
                        <tr>
                            <td>Surname</td>
                            <td class="red">Zahym</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td class="red">Zahym</td>
                        </tr>
                        <tr>
                            <td>ID Number</td>
                            <td class="red">747364783422432874273</td>
                        </tr>
                        <tr>
                            <td>Residential Address</td>
                            <td class="red">23, sabotage close, ikotun estate</td>
                        </tr>
                        <tr>
                            <td>Call Phone</td>
                            <td class="red">08065768678</td>
                        </tr>
                        <tr>
                            <td>Tel (work)</td>
                            <td class="red">09091564578</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td class="red">Zahym@maya.com</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <table>
                <tbody>
                <tr>
                    <th style="margin-bottom: 10px;">Summary Of Credit Advanced</th>
                    <th style="float: right; margin-bottom: 10px;">Amount</th>
                </tr>
                </tbody>
            </table>
            <div class="second_part">
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <b>Loan Schedule</b>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            Capital Credit Amount (Loan Amount To Be Advance)
                        </td>
                        <td>
                            &#8358;1200:00
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Plus Invitation Fee (Inclusive Of VAT) Once Off
                        </td>
                        <td>
                            &#8358;400:00
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Principal Debt</b>
                        </td>
                        <td style="border-top: 1px solid #555; border-bottom: 1px solid #555;">
                            &#8358;400:00
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Total Amount Of All Interest
                        </td>
                        <td>&#8358;1500</td>
                    </tr>
                    <tr>
                        <td>
                            Total Service Fees
                        </td>
                        <td>&#8358;1500</td>
                    </tr>
                    <tr>
                        <td>
                            Total Credit Life Premiums (Insurance Premiun Is Calculated as 15% per 1000 paid monthly in)
                        </td>
                        <td>&#8358;1500</td>
                    </tr>
                    <tr>
                        <td>
                            Total Amount Of All Installments To Be Repaid Including Interest Fess And Credit Life Insurance Premiums)
                        </td>
                        <td style="border-top: 1px solid #555; border-bottom: 1px solid #555;">&#8358;1500</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Cash Advanced</b>
                        </td>
                        <td>&#8358;1500</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="third_part">
                <h1>Please Digitally Sign this document below</h1>
                <div class="form_wrap">
                    <table>
                        <tr>
                            <td>Full Name</td>
                            <td>Date</td>
                            <td>Download PDF</td>
                        </tr>

                        <tr>
                            <td><input type="text" name="firstname" placeholder="Full Name" class="placeholder"></td>
                            <td><input type="date" name="firstname"></td>
                            <td>
                                <a href="">
                                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="debt_authority clearfix">
                    <p class="left">Authority to Debt</p>
                    <p class="right"><input type="checkbox" name="terms" value="terms"> Yes i have read and agree to the following</p>
                </div>
            </div>
            <button class="clearfix">
                <a href="">
                    Continue
                </a>
            </button>
        </div>
    </div>
</div>
</body>
</html>