<!DOCTYPE html>
<html>
<head>
    <title>EcoGeneral Loan Services | Approved</title><head>
        <link rel="stylesheet" href="static/js/jquery-ui/jquery-ui.css">
        <link rel="stylesheet" href="static/css/bootstrap/css/bootstrap-theme.css">
        <link rel="stylesheet" href="static/css/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/css/approved.css">
        <link rel="stylesheet" type="text/css" href="static/css/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="static/css/reset.css"> <!-- CSS reset -->
        <link rel="stylesheet" href="static/css/style.css"> <!-- Resource style -->
        <link rel="stylesheet" type="text/css" href="static/css/animate.css">
        <script src="static/js/modernizr.js"></script>
    </head>
<body>
<div class="main_body">
    <div class="main_content">
        <h1>You have been approved</h1>
        <form action="demo_form.asp">
            <input type="checkbox" name="approve" value="approve">
        </form>
    </div>
</div>
</body>
</html>