<!DOCTYPE html>
<html>
<head>
    <title>EcoGeneral Loan Services | Agreement</title>
    <link rel="stylesheet" href="../static/js/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="../static/css/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../static/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/loan_status.css">
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome/css/font-awesome.css">
    <script src="../static/js/modernizr.js"></script>
    <script src="../static/js/angular.min.js"></script>
</head>
<body>
<div class="main_body">
    <div class="first_section">
        <div class="header">
            <!-- <div class="header_content">
                <div class="tabs">
                    <ul>
                        <li style="background-color:#15A7DF;"><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="/client">Client Zone</a></li>
                    </ul>
                </div>
                <div class="social_media">
                    <ul>
                        <li><a href="http://facebook.com"><i class="fa fa-facebook-square font_awesome" aria-hidden="true"></i></a></li>
                        <li><a href="http://twitter.com"><i class="fa fa-twitter-square font_awesome" aria-hidden="true"></i></a></li>
                        <li><a href="http://instagram.com"><i class="fa fa-instagram font_awesome" aria-hidden="true"></i></a></li>
                        <li><a href="http://youtube.com"><i class="fa fa-youtube-play font_awesome" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div> -->
        </div>
        <div class="logo_wrap clearfix">
            <!-- <div class="logo_div clearfix">
                <a href="" class="clearfix">
                    <div class="logo"></div>
                </a>
            </div> -->
            <div class="logo_content_div">
                <h1>
                    Welcome to your control panel.
                </h1>
                <!-- <span class="style">
                    You can apply from <span class="white">NGN1000</span> up to <span class="white">NGN3000</span> <br> <span style="font-size:20px; color:#fff;">SAME DAY. PAY DAY. EVERYDAY.</span>
                </span> -->
            </div>
        </div>
    </div>
    <div class="second_section clearfix">
        <div class="main_content clearfix">
            <h2>
                Loan Status
            </h2>
            <p>
                The process bar below indicate your current loan status. If you would like to reaply without completing the entire process. Please click the GET MORE CASH button. Please note that our lending rules only allow for one active loan at a time and if you have been declined, You may only apply 60 days later.
            </p>
            <div class="content_wrap">
                <div class="loan_status clearfix">
                    <p class="left_p_loan">Loan Status</p>
                    <p class="right_p_loan">Approved</p>
                    <div class="empty_div_wrap">
                        <div>100%</div>
                        <div class="empty_div"></div>
                    </div>
                </div>
                <div class="second_loan_status clearfix">
                    <p class="left_p_loan">Application Status</p>
                    <p class="right_p_loan">Application cancelled by CRM</p>
                    <div class="empty_div_wrap">
                        <div>100%</div>
                        <div class="empty_div"></div>
                    </div>
                </div>
                <button>
                    <a href="/user/more">Get more cash</a>
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>